*{
    font-family: "Verdana", sans-serif;
    margin: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to left, #E70FAA, #00BEFB);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    width: fit-content;
    font-size: 30px;
    background: linear-gradient(to left, #E70FAA, #00BEFB);
    background: -webkit-linear-gradient(to left, #E70FAA, #00BEFB);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: #E70FAA, #00BEFB 2s infinite;
}

.box{
    text-align: end;
    width: 13.5vw;
    border: 2px solid #00BEFB;
    padding: 5px 19px;
}

.initial_number{
    color: white;
}

.container{
    background-color: #252525;
    width: 20vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px 35px;
    border-radius: 15px;

}

.numericos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
}


.numericos > * {
    font-size: 22px;
}